{% extends 'tienda/main.html' %}
{% load static %}
{% block title %} StickerON|Carrito {% endblock %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'tienda' %}"><i class="fas fa-store"></i> &#x2190; Continuar comprando</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Artículos: <strong>{{pedido.calcular_articulos_carrito}}</strong></h5></th>
						<th><h5>Total:<strong> ${{pedido.calcular_total_carrito|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}"><svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
								<path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
							  </svg> Revisión del pedido</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Artículo</strong></div>
					<div style="flex:1"><strong>Precio</strong></div>
					<div style="flex:1"><strong>Cantidad</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for articulo in articulos %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{articulo.producto.imagenURL}}"></div>
					<div style="flex:2"><p>{{articulo.producto.nombre}}</p></div>
					<div style="flex:1"><p>${{articulo.producto.precio|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{articulo.cantidad}}</p>
						<div class="quantity">
							<form action="{% url 'eliminar_articulo' articulo.id %}" method="post" class="d-inline">
								{% csrf_token %}
								<button type="submit" class="btn btn-sm">                                    
									<i class="far fa-trash-alt fa-lg text-danger float-right"></i>
								</button>
							</form>
							<form action="{% url 'aumentar_cantidad' articulo.id %}" method="post" class="d-inline">
								{% csrf_token %}
								<button type="submit" class="btn btn-sm">                                    
									<i class="fas fa-plus text-success"></i> 								
								</button>
							</form>
							<form action="{% url 'disminuir_cantidad' articulo.id %}" method="post" class="d-inline">
								{% csrf_token %}
								<button type="submit" class="btn btn-sm">                                    
									<i class="fas fa-minus text-danger"></i> 								
								</button>
							</form>
						</div>
					</div>
					<div style="flex:1"><p>${{articulo.calcular_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
